[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
apidoc = "==1.4.0"

[packages]
aniso8601 = "==8.0.0"
certifi = "==2022.12.7"
cffi = "==1.14.0"
chardet = "==3.0.4"
Click = "==7.0"
cryptography = "==2.9.2"
dominate = "==2.5.1"
Flask = "==1.1.1"
Flask-Bootstrap = "==3.3.7.1"
Flask-Cors = "==3.0.8"
Flask-RESTful = "==0.3.7"
gunicorn = "==20.0.4"
idna = "==2.9"
itsdangerous = "==1.1.0"
Jinja2 = "==2.11.0"
MarkupSafe = "==1.1.1"
pycparser = "==2.20"
PyJWT = "==1.7.1"
python-dotenv = "==0.13.0"
pytz = "==2019.3"
requests = "==2.23.0"
six = "==1.14.0"
urllib3 = "==1.25.9"
visitor = "==0.1.3"
Werkzeug = "==0.16.1"

[requires]
python_version = "3.6"
